.empty-tasklist-message-div h1{
    color: var(--primary-color);
}

.empty-tasklist-message-div p{
    color: gray;
}

.homepage-div {
    margin: 1rem;
    border-bottom: 1px solid #cccccc;
}

.homepage-sub-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 0.75rem;
    margin: 2rem 0rem;
}

.homepage-sub-div h1{
    color: var(--primary-color);
}

.add-task-button {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid transparent;
    padding: 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.add-task-button span {
    font-size: 1.25rem;
}

.add-task-button:hover {
    background-color: var(--primary-hover-color);
    cursor: pointer;
}