.no-match-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    gap: 1rem;
}

.no-match-content h1 {
    font-size: 4rem;
    font-weight: bold;
}
