.modal-bg {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    backdrop-filter: blur(1px);
}

.modal-centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    height: 30rem;
    width: 30rem;
    overflow-y: auto;
}

.modal-header {
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    border-bottom: 1px solid #acacac;
}

.task-input-container {
    margin: 1.25rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
}

.task-input-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #5a5a5a;
}

.priority-input-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}


.priority-input-container select {
    background-color: white;
    border: 1px solid #acacac;
    padding: 0.5rem;
    width: 10rem;
}

.priority-input-container select:hover {
    cursor: pointer;
}

.priority-input-container select:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.task-input-container input {
    width: 25rem;
    background-color: transparent;
    padding: 0.5rem;
    border: 1px solid #acacac;
    border-radius: 0.5rem;
}

.task-input-container input:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.task-input-container textarea {
    resize: none;
    background-color: transparent;
    border: 1px solid #acacac;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.task-input-container textarea:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.duration-input-text {
    color: #5a5a5a;
}

.duration-input-sub-text {
    color: var(--primary-color);
}

.subtask-input {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.subtask-input input {
    width: 20rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

.subtask-button {
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    padding: 0.25rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.25rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
}

.subtask-button span {
    font-size: 1.75rem;
}

.subtask-button:hover {
    cursor: pointer;
    background-color: var(--primary-hover-color);
}

.subtask-list-div {
    width: 22.5rem;
}

.subtask-item-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0.5rem 0rem;
    border-bottom: 1px solid #acacac;
}

.subtask-item-div span {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.subtask-item-div span:hover {
    cursor: pointer;
    color: var(--primary-hover-color);
}

.subtask-content-div {
    width: 25rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.subtask-content-div span {
    font-size: 0.5rem;
    color: black;
}

.subtask-content-div p {
    width: 20rem;
}

.subtask-length-overflow {
    color: red;
}

.modal-actions {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.25rem;
}

.modal-actions button {
    border: 1px solid transparent;
    padding: 0.2rem;
    font-weight: 600;
    background-color: transparent;
}

.modal-actions button:hover {
    border: 1px solid transparent;
    cursor: pointer;
}

.add-button {
    color: var(--primary-color);
}


.add-button:hover {
    color: var(--primary-hover-color);
}

.cancel-button {
    color: red;
}

.cancel-button:hover {
    color: #dc2626;
}

@media only screen and (max-width: 600px) {

    .modal {
        width: 25rem;
    }

    .task-input-container input {
        width: 20rem;
    }

    .task-input-container textarea {
        width: 20rem;
    }

}

@media only screen and (max-width: 450px) {

    .modal {
        width: 20rem;
    }

    .task-input-container input {
        width: 15rem;
    }

    .task-input-container textarea {
        width: 15rem;
    }

    .subtask-item-div {
        width: 15rem;
        justify-content: center;
    }

    .subtask-content-div {
        width: 15rem;
        gap: 0.25rem;
    }

    .subtask-content-div p{
        width: 10rem;
    }
}