.modal-bg {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    backdrop-filter: blur(1px);
}

.modal-centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal-header {
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1.5rem;
    border: 1px solid brown;
}

.task-input-container {
    margin: 1.25rem 1rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.75rem;
}

.task-input-title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #5a5a5a;
}

.priority-input-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}


.priority-input-container select {
    background-color: white;
    border: 1px solid #acacac;
    padding: 0.5rem;
    width: 10rem;
}

.priority-input-container select:hover {
    cursor: pointer;
}

.priority-input-container select:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.task-input-container input {
    width: 25rem;
    background-color: transparent;
    padding: 0.5rem;
    border: 1px solid #acacac;
    border-radius: 0.5rem;
}

.task-input-container input:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.task-input-container textarea {
    resize: none;
    background-color: transparent;
    border: 1px solid #acacac;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.task-input-container textarea:focus {
    outline: none;
    border: 2px solid var(--primary-color);
}

.modal-actions {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.25rem;
}

.modal-actions button {
    border: 1px solid transparent;
    padding: 0.2rem;
    font-weight: 600;
    background-color: transparent;
}

.modal-actions button:hover {
    border: 1px solid transparent;
    cursor: pointer;
}

.add-button {
    color: var(--primary-color);
}


.add-button:hover {
    color: var(--primary-hover-color);
}

.cancel-button {
    color: red;
}

.cancel-button:hover {
    color: #dc2626;
}
