.pomodoro-timer-div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #acacac;
}

.pomodoro-mode-div {
    display: flex;
    gap: 2rem;
    padding: 0.5rem;
}

.pomodoro-mode-button {
    border: 1px solid transparent;
    background-color: transparent;
    font-weight: 550;
    font-size: 1.1rem;
    padding: 0.5rem;
    color: white;
}

.focus-mode-button {
    background-color: #ef4444;
}

.focus-mode-button:hover {
    background-color: #dc2626;
}

.break-mode-button {
    background-color: var(--primary-color);
}

.pomodoro-mode-button:hover {
    cursor: pointer;
}

.timer-header{ 
    font-size: 5rem;
}

.focus-timer-header {
    color: red;
}

.break-timer-header {
    color: var(--primary-color);
}

.break-mode-button:hover {
    background-color: var(--primary-color);
}

.pomodoro-action-button {
    color: white;
    background-color: #fb923c;
    padding: 0.25rem 1.25rem;
}
